body {
   background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BTrHt7uCiu335hjs/desert-background-simple-game-level-location-concept-hd-looping-animation_rfgqov0se_thumbnail-full01.png");
   font-family: arial;
}

/* All the menus used for the UI (TL/TR/B/T) */

#topRightMenu {
   position: absolute;
   top: 0;
   right: 0;
   padding: 1%;
   margin: 1%;
   border: 2px black solid;
   font-size: 16px;
}

#topLeftMenu {
   position: absolute;
   top: 0;
   left: 0;
   padding: 1%;
   margin: 1%;
   border: 2px black solid;
   font-size: 16px;
}

#bottomMenu {
   position: fixed;
   text-align: center;
   margin: auto;
   width: 100%;
   bottom: 50px;
}

#experienceBar {
   width: 80%;
   height: 25px;
   position: relative;
}

#currentLevelParagraph {
   font-size: 20px;
   margin: 0;
}

/* Interface used for the enemy */
#enemyInterface {
   text-align: center;
   margin: 275px;
   height: 400px;
}

#topMenu {
   position: absolute;
   top: 0;
   width: 100%;
   height: 10%;
}

#enemiesToKillParagraph {
   text-align: center;
   position: relative;
   top: 10px;
}

#nextEnemyButton, #previousEnemyButton {
   position: relative;
   display: inline-block;
}

#previousEnemyButton {
   left: 35%;
}

#nextEnemyButton {
   transform: rotate(180deg);
   left: 60%;
}


@keyframes upAndDown {
   0% {bottom: 0;}
   50% {top: 10px;}
   100% {bottom: 0;}
}

#enemyImage {
   position: relative;
   margin: 50px;
   animation-name: upAndDown;
   animation-duration: 0.4s;
   animation-iteration-count: infinite;
}

#enemyHealthBar {
   width: 30%;
   height: 8px;
}

#enemyNameParagraph {
   font-size: 12px;
}

#itemShop {
   position: absolute;
   text-align: center;
   top: 400px;
   width: 32%;
   font-size: 15px;
}

#weaponShop, #helmetShop, #accessoryShop, #magicShop, #thiefShop, #giftShop {
   text-align: center;
   float: left;
   border: 0.2px solid black;
   padding: 2px;
   margin: 1px;
}